//顏色
$primary-color: #AA0601;
$secondary-color: #650300;
$success-color:#FBF2F2;
$text-primary: #650300;
$text-secondary:#707070;
$text-secondary:#212529;
$text-dark:#000000;
$border-color:#DEE2E6;
$border-secondary-color:#00000020;
//字型大小
$fz-2: 8px;
$fz-4: 16px;
$fz-5: 20px;
$fz-6: 24px;
$fz-8: 32px;
$fz-9: 36px;
$fz-12: 48px;
$fz-16: 64px;

$fz-xs:14px;
$fz-s:18px;
$fz-m:19px;
$fz-L:42px;

//字型
$font-family-base: "Noto Sans TC", "Roboto", "PingFang TC", "SF Pro Text", "Microsoft JhengHei", "微軟正黑體", sans-serif;