.header{
  background-color:#AA0601;  
  .container{
    justify-content: space-between; 
    padding: 0 35px;   
  }  
  h1 a{
    display: block;
    width: 80px; 
    height: 80px;    
    background-image: url("../../assets/images/logo-white.png");
    background-position: center center;
    background-size:80px 48.57px ;
    background-repeat: no-repeat;
    text-indent:101%;
    overflow:hidden;    
    white-space:nowrap;   
  }
  .header-nav{
    align-items: center;
    li{
      padding: 12px 0;
    }    
    a{
      margin-right: 64px;
      text-decoration: none;
      color:  #FFFFFF;
      font-size: 20px;
      line-height: 30px;
      &:hover{
        color: #000000;
      }      
    }
    .last{
      margin-right: 0;
    }   
  }  
}

.footer{
  .container{
    padding: 0 16px;
  }
  padding:48px 0 32px 0;
  background-color: #AA0601;
  color:#FFFFFF; 
  a{      
    margin-right: 48px;
    text-decoration: none;
    color:#FFFFFF;
    &:hover{
      color: #000000;
    }
    @include pad{
      font-size: 16px;
      line-height: 24px;
      margin-right: 24px;
    }
  }
  .header-nav{    
    justify-content: space-between;
    margin-bottom: 24px;
     
    ul{
      height: 48px;
      justify-content: space-between;
      align-items: center;      
    }
    
    .social-media{
      li{
        height: 48px;        
        width: 48px;
        margin-left:32px;        
        @include pad{
          width: 40px;
          height: 40px;
          margin-left:16px;
        }
       
      }
      img:hover{
        opacity: 0.5;
      }      
    }
    
  }
  .menu-pad{
    @include pad{
      justify-content: flex-start;
    }
    @include phone{
      display: none;
    }
  }
  .phone{
    margin-bottom: 8px;
  }
  .phone,.e-mail{
    font-size: 36px;
    line-height: 54px;          
  }
  hr{
    border: 1px sold #FFFFFF;
    margin:31px 0 31px 0;
  }    
  .reserve{
    justify-content: space-between;
    p{
      font-size: 16px;
      line-height: 24px;
    }
    .terms{
      p:nth-child(1){
        margin-right: 48px;
      }
    }
   
  }  
}

.footer{
  .nav-phone-mail{
    display: flex;
    justify-content: space-between;
  }
  .menu-pad{
    margin-bottom: 24px;
    @include mobile{
      display: none;
    }
  }
  .social-media{
    img{
      width: 48px;
      margin-left: 32px;      
    }  
  }
  .phone-mail{
    margin-bottom: 32px;
   a{
      font-size: 36px;
      line-height: 54px;    
    }
  }
  .material-symbols-outlined{
    font-size: 36px;    
    line-height: 54px;   
    margin-right: 20px;
    vertical-align: middle;    
  }
 
}
 /*********RWD *********/

 @include mobile{
  .header{
    .container{
      display: block;
      padding-right: 0px;
      padding-left: 0px;
    }
    h1 a{
      margin: 0 auto;     
    }
    h1{
      margin-top: 0;
      margin-bottom: 0;
    }
    .header-nav{      
      padding-right: 0;
      padding-left: 0;
    
      a{       
        margin-right: 0;
      }
    }
    li{
      width: 50%;             
      border: 1px solid #FFFFFF;
      text-align: center;
      margin: 0 auto;
    }
  }

  .footer{
    padding: 8px 12px;
    
    .social-media{
      margin-top: auto;
      img{
        width: 24px;
        margin-left: 8px;
      }
    }   
    .nav-phone-mail{
      display: flex;
    }
    .phone,.e-mail{
     
      line-height: 24px;
    }
    .phone-mail{
      margin-bottom: 0;      
      a{
        font-size: 16px;
        line-height: 24px;
      }
      .material-symbols-outlined{
        font-size: 16px;
        line-height: 24px;
      } 
      
    }
    hr{
      margin: 16px 0;
    }
    .reserve,.terms{
      flex-direction: column;
    }
  }
}

@include pad{
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
}

@include mobile{
  .header{
    .header-nav{
      a{
        margin-right: 0;
      }
    }
  }

  .footer{
    a{
      margin-right: 0;
    }
    .nav{
      display: flex;
    }
    .social-media{
      margin-top: 7px;
    }
    .reserve p{
      margin-bottom: 8px;
     font-size: 14px;
    }    
  }  
}

@include phone{
  .header{
    h1{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
