h2{
  font-size:$fz-12;  
  color:$text-primary;
  margin-bottom: 32.33px;
  text-align: center;
}

.banner{ 
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center center ;
  height: 80vh;
  background-repeat: no-repeat;
  align-items: center; 
  .container{
    width: 100%;    
    text-align: right;
    p{
      font-size: $fz-9;
      line-height: 1.5;
      color: $secondary-color;
    }
    h1{
      font-size: $fz-16;
      line-height: 1.5;
      color: $secondary-color;
    }
    .button{
      display: inline-block;      
      width: 104px;      
      height: 41px;      
      font-size:$fz-5;
      line-height: 41px;
      text-align: center;
      background-color:$primary-color;      
      color:white;
    }
  }  
}
.advantage{  
  background-color: $success-color;
  padding: 0 12px;
  padding-bottom: 80px;
    padding-top: 80px;  
  img{
    max-width: 84px;
    max-height: 84px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 27.04px;
  }
  li{   
    width: 23%;
    margin-right: 24px;
  }  
  .advantage-title{
    color: $text-primary;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }
  .advantage-subtitle{
    font-size: $fz-4;
    text-align-last: left;    
  }
  .last{
    margin-right: 0;
  }
}
.classic{
  h2{
    margin-bottom: 48px;
  }
  li{
    width: 33.333%;
    padding-left: 24px;
  }
  img{
    display: inline-block;    
    margin-right: 24px;
    margin-bottom: 8px;
  }
  .last{
    margin-right: 0;
  }
  h3{
    font-size: $fz-12;
    color: $primary-color;
    text-align: center;
  }
}
.joint-name{
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center center ; 
  background-repeat: no-repeat;
  text-align: center;
  h2{
    color: white;
  }
  img{   
   max-width: 100%;
  }
  h3{
    font-size:$fz-12;
    line-height: 88px;
    background-color: white;
    color: $primary-color;
    font-weight:bold;
  }
}
.joint-name-img{
  flex-wrap: nowrap;
}
.recommend{
  h2{
    margin-bottom: 48px;
  }
  .recommend-list{
    justify-content: space-between;
  }
  li{
    width: 24%;    
    margin-bottom: 24px;
    border: 1px solid $border-color;
    box-shadow:0px 2px 6px #00000029;    
  }
  .recommend-info{
    padding: 16px;   
    border-radius: 4px;
    opacity: 1;
    .name{
      margin-bottom: 8px;
    }
    .info{
      margin-bottom: 72px;
    }
  }
  p{
    font-size: $fz-4;
  }  
}
.contact{
  background-color: $success-color;
  .container{
    max-width: 636px;
    padding: 80px 0;   
  } 
  
  input,textarea{    
    width: 100%;
    height: 36px;
    border: 1px solid black;
  }
  textarea{
    height: 136px;
  }
  .opinion{
    margin-bottom: 16px;
  }
  .contact-check{
    width: 24px;    
    height: 24px;
    margin: 0;
  }
  .contact-check-label{
    vertical-align: middle;           
  }
  p{
    display: inline-block;
    line-height: 24px;
    font-size: $fz-4;
    vertical-align: super;
  }
  
  .button{
    background-color: $primary-color;
    color: white;
    font-size:$fz-4 ;
    line-height: 56px;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }  
}

/*********RWD*********/

@include pad{
  .container{
    padding:0 35px;
  }
 
 .banner{
  background-image: url("../images/home-header-sm.png");
  .container{
    max-width: 100%;    
  }
 }

 .advantage{
  .last{
    margin-right: 0;
  }
 }
 .advantage-list{
    .container{
      padding: 0 35px;
    }
  li{
    width: 49%;
    margin: 0;
  }
 }
 .classic{
 
  li{
    width: 100%;
  }
  img{
    margin-right: 0;    
  }
 }
 .joint-name-item{
  margin-bottom: 48px;
 }
 .joint-name-img{
  flex-wrap: wrap;
 }
 .recommend{
  .container{
    padding-left: 35px;
    padding-right: 35px;
  }
  li{
    width: 48%;
  }  
 } 
}

@include phone{
  .container{
    padding-right: 0;
    padding-left: 0;
  }
  .banner{
    height: 50vh;
    .container{
      padding-right: 15px;
      padding-left: 15px;
      p{
        font-size: 16px;
        line-height: 24px;
      }
      h1{
        font-size: 24px;
        line-height: 36px;
      }
    }   
  }
  .classic{
    .container{
      padding: 0 13px;
    }
  }
  .classic li{
    padding-left: 0;
  }  
  .advantage-list{  
    li{
      width: 98%;
      margin: 0;
    }
   }
  .contact{
    .container{
      padding: 40px 12px;      
    }
  }
  .recommend{
    .container{
      padding-right: 13px;
      padding-left: 13px;

    }
    .recommend-item{
      width: 100%;
    }
  }
  .joint-name{
    .container{
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}



