.question{
  h1{
    padding-left: 16px;
    font-size: $fz-12;
    border-left: 8px solid #9F1213;    
    margin-top: 96px;
    margin-bottom: 32px;
  }
  h2{
    font-size:$fz-6 ;
    text-align: left;
    color:$text-secondary;
    margin-bottom: 24px;
  }
  h3{
    font-size: $fz-5;
    margin-bottom:8px;
  }
  p{
    font-size: $fz-4;    
  }
  .question-item{
    max-width: 856px;
    margin-bottom: 32px;
  }
}

@include phone{
  .question{
    h1{
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }
}